alembic
asgiref
autopep8
Babel
backpack
black
blinker
bootstrap-py
certifi
charset-normalizer
cleo
click
colorama
contourpy
culqipy
cycler
defusedxml
distlib
Django
django-adminlte3
django-liststyle
djangorestframework
dnspython
docutils
email-validator
Faker
filelock
Flask
Flask-Login
Flask-Migrate
flask-orator
Flask-SQLAlchemy
Flask-WTF
fonttools
gitdb
GitPython
greenlet
httpie
idna
imagesize
inflection
itsdangerous
Jinja2
kiwisolver
lazy-object-proxy
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
multidict
mypy-extensions
mysql-connector-python
numpy
orator
packaging
pastel
pathspec
pendulum
pguard
Pillow
pip
platformdirs
protobuf
psycopg
psycopg2
psycopg2-binary
pyaml
pycodestyle
Pygments
pylev
pymongo
pyparsing
PySocks
python-dateutil
python-dotenv
python-slugify
pytz
pytzdata
PyYAML
requests
requests-toolbelt
rich
setuptools
setuptools-scm
simplejson
six
slugify
smmap
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
text-unidecode
typing_extensions
tzdata
tzlocal
urllib3
virtualenv
Werkzeug
wrapt
WTForms
azure-core
azure-storage-blob
certifi
cffi
charset-normalizer
cryptography
Django
django-storages
gunicorn
idna
isodate
pycparser
python-dotenv
requests
six
sqlparse
typing_extensions
urllib3
